@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
body {
  font-family: "Fjalla One", sans-serif;
  margin: 0px;
  background-color: rgb(231, 230, 230);
}

/* Barra de navegación: titulo y carro de compras.*/
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.logoYTitulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav h2 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 2rem;
  margin-left: 5px;
  color: #d891a9;
}
.nav img {
  height: 50px;
  margin-right: 10px;
}

/* Header y portada */
.portada {
  text-align: start;
  color: whitesmoke;
  padding-top: 130px;
  padding-left: 10px;
}
.portada h3 {
  font-size: 2em;
}
.header {
  background-image: url(./images/imgSecundarias/banner.webp);
  background-position: center;
  background-size: cover;
  height: 60vh;
}

/* Cards de productos */
.cardStyle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 5px;
}
.cardStyle img {
  height: 250px;
  width: 350px;
  box-shadow: 0px 1px 5px;
  margin-bottom: 10px;
}
.cardStyle p {
  text-align: center;
  margin: 10px;
}
.margenCards {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  border: 2px solid;
  border-color: rgb(179, 179, 179);
}

/* BOTON CARDS */

button {
  width: 200px;
  height: 40px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
}

button,
button::after {
  padding: 16px 20px 30px;
  font-size: 15px;
  background: linear-gradient(45deg, transparent 5%, #4e3d61 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #d891a9;
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "HOVER ME";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #d891a9 3%,
    #d891a9 5%,
    #4e3d61 5%
  );
  text-shadow: -3px -3px 0px white, 3px 3px 0px #d891a9;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* CARRITO COMPRAS ESTILO */
/* ESTILOS DEL img CARRITO */
.carritoComprasStyle{
  cursor: pointer;
}
